.o-container{
    &-app{
        display: flex;
        flex-direction: column;
    }
    &-sidebar-and-content-app{
        display: flex;
        height: 100vh;
    }
    &-header{
        
    }
    &-section{
        margin: 0 auto;
        width: 100%;
    }
}

