
@font-face {
    font-family: 'Geogrotesque Sharp';
    src: url('/assets/fonts/Broadmen.otf') format('openType'); /* IE6-IE8 */

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}